# Open GameRenderer third-person distance fields for direct access
public-f net.minecraft.client.renderer.GameRenderer thirdPersonDistance
public-f net.minecraft.client.renderer.GameRenderer thirdPersonDistancePrev
